*{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-top nav li{
    display: inline-block;
    padding: 10px;
}

.menu-top nav ul{
    position: absolute;
    left: 30%;
    text-align: center;
    background-color: rgba(40,40,40, 0.6);

}

.menu-top nav ul a{
    color: white;
    text-decoration: none;
    padding: 10px;
}

.menu-top nav ul a:hover{
    background-color: white;
    color: black;
}



header{
	height: 100px;
    background-color: rgba(0,0,0,0.7);
    margin: 20px;
}
h2{
    background-color: rgba(0,0,0,0.7);
	margin-bottom: 2%;
}
header h5{
    position: absolute;
	top: 50px;
	left: 99px;
	font-size: 29px;
	color: white;
	font-family: 'Raleway', sans-serif;
}

#section1, #section10{
	height: 70%;
	margin: 3%;
}

#section1 h2, #section10 h2{
	text-align: center;
	color: white;
}

.mainContainer{
	border:2px solid #ad9e9e;
	margin-top: 2%;
}

.mainContainer2{
	
	margin-top: 2%;
}

.containerImage{
	width: 100%;
	height: 300px;
}

.mainContainer2{
	width: 100%;
}

.left{
	width: 30%;
	margin:0 3%;
	float: left;
}



@media (max-width: 600px) {

	.footer{
		padding: 35px;
	}

	.footer .footer-paragraph{
		font-size: 18px;
	}

	.footer .footer-copy{
		font-size: 12px;
	}

	.footer .footer-links{
		font-size: 14px;
		padding: 25px 0 20px;
	}

	.footer .footer-links a{
		line-height: 1.8;
	}
}


@media screen and (min-width: 501px){
	header h5{
		position: absolute;
		top: 9%;
		left: 0;
		right: 0;
		padding: 0;
		margin: auto;
		text-align: center;
		font-size: 32px;
	}
	#section2 p{
		font-size: 14px;
	}
	#section1{
		height: 60%;
	}
	#section2{
		height: 500px;
	}
	.mainContainer{
		display: inline-grid;
		margin: 2% 2% 2% 5%;
		width: 40%;
		border:2px solid #ad9e9e;
		margin-top: 2%;
		overflow-y: hidden;
	}


}



@media screen and (min-width: 700px){
	header h5{
		position: absolute;
		top: 7%;
		left: 0;
		right: 0;
		padding: 0;
		margin: auto;
		text-align: center;
		font-size: 32px;
	}
	#section2 p{
		font-size: 16px;
	}
	#section1{
		height: 60%;
	}
	.mainContainer{
		display: inline-grid;
		margin: 2% 2% 2% 5%;
		width: 40%;
		border:2px solid #ad9e9e;
		margin-top: 2%;
		overflow-y: hidden;
	}
	
	.containerImage{
		width: 100%;
	}

	#section2{
		height: 500px;
	}
	

}

@media screen and (min-width: 1000px){
	.mainContainer{
		display: inline-grid;
		margin: 2% 2% 2% 5%;
		width: 25%;
		border:2px solid #ad9e9e;
		margin-top: 2%;
		overflow-y: hidden;
	}
	#section2 p{
		font-size: 19px;
	}


}


@media screen and (min-width: 1592px){
	#section2{
		height: 65%;
		overflow: hidden;
	}

}
