*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0%;
    background-color: rgb(141, 141, 141);
    font-family: 'Montserrat', sans-serif;
}


.menu-top nav li{
    display: inline-block;
    padding: 10px;
}

.menu-top nav ul{
    position: absolute;
    left: 30%;
    text-align: center;
    background-color: rgba(40,40,40, 0.6);

}

.menu-top nav ul a{
    color: white;
    text-decoration: none;
    padding: 10px;
}

.menu-top nav ul a:hover{
    background-color: white;
    color: black;
}


.logo-top {
    width: 130px;
}

/* Dropdown Button */
.dropbtn {
    display: none;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    z-index: 3;

    visibility: hidden;
}

.dropdown {
    display: none;
    position: relative;
    /* display: inline-block; */
    left: 90%;

    visibility: hidden;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    right: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100000;

    visibility: hidden;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
    opacity: 0.5;
    z-index: 2000000;
}
/* Dropdown Button */



.header-container {
    width: 100%;
    height: 665px;
}

.lower-container , main.lower-container {
    width: 100%;
}



/* SLIDER */
slider{
    position: fixed;
    border:100px;
    display: block;
    background-color: #1f1f1f1f;
    overflow: hidden;
    position:absolute;
    
    Z-index:-5;
    width:100%;
    height:85%;
    opacity:1;
}
slider > *{
    position: absolute;
    display: block;
    width: 100%;
    height:100%;
    background-color: #1f1f1f1f;
    animation: slide 12s infinite;
    overflow:hidden;
}
slide:nth-child(1){
    left:0%;
    animation-delay: -1s;
    background-size:cover;
    background-image: url(../images/image1.jpg);
    background-position: center;
    
}
slide:nth-child(2){
    animation-delay: 2s;
    background-size:cover;
    background-image: url(../images/image2.jpg);
    background-position: center;
    
}
slide:nth-child(3){
    
    animation-delay: 5s;
    background-size:cover;
    background-image: url(../images/image3.jpg);
    background-position: center;
    
}
slide:nth-child(4){
    
    animation-delay: 8s;
    background-size:cover;
    background-image: url(../images/image4.jpg);
    background-position: center;
    
}
slide:nth-child(5){
    
    animation-delay: 8s;
    background-size:cover;
    background-image: url(../images/tse1.jpg);
    background-position: center;
    
}
slide p{
    font-family: comfortaa;
    font-size:70px;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top: 1000px;
    color:#fff;
    top:1000px;
}
@keyframes slide{
    0%{left:100%; width:100%;}
    5%{left:0%;}
    25%{left:0%;}
    30%{left:-100%; width:100%;}
    30.0001%{left:-100%; width:0%;}
    100%{left:100%;width:0%;}
}
/* SLIDER */

.middle-container{
    text-align: center;
}

.middle-container h2 {
    padding-top: 2%;
}

.middle-container p {
    padding: 2% 8%;
    width: 100%;
    margin-top: 2%;
    background-color: rgb(78, 78, 78);
    left: 30%;
}

.middle-container .user-pic {
    height: 300px;
    width: 300px;
    border-radius: 150px;
}


.blue-container {
    width: 100%;
    background: rgb(73, 76, 77);
    color: #fff;
    margin-top: 15%;
    margin-bottom: 5%;
    padding: 4em 0 2em;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius:40px ;
    border-bottom-right-radius: 40px ;
    clear: both;
}

.blue-container ul li {
    margin-bottom: 3em;
    display: inline-block;
    width: 31%;
    text-align: center;
}

.blue-container ul li p {
    padding: 0 .5em;
}

.blue-container img {
    width: 14%;
}

.blue-container ul li:nth-child(3) img {
    width: 8%;
}
